/* основной цвет фона #E5E5E5 */

/* вторичный цвет фона #F5F4FA */

/* основной цвет текста Roboto 500 #212121 */

/* вторичный цвет текста Roboto 400 #757575 */

/* цвет при наведении(active) #2196F3 */

/* белый цвет текста #FFFFFF */

/* ======================================== Header Section =================================== */

/* ============================== Hero-section =============================== */

/* ================================ Что мы делаем =========================== */

/* ========================================== Чем мы занимаемся ==================================== */

/*=================================== ourteam-section ========================== */

/*  ============================== Our Clients ========================== */

/* .clients-links.icon-first {
    background-image: url('../images/ya&co-logo.svg');
}
.clients-links.icon-second {
    background-image: url('../images/second-comapny-logo.svg');
}
.clients-links.icon-third {
    background-image: url('../images/third-company-logo.svg');
}
.clients-links.icon-fourth {
    background-image: url('../images/foster-logo-icon.svg');
}
.clients-links.icon-fifth {
    background-image: url('../images/brand-logo-icon.svg');
}
.clients-links.icon-sixth {
    background-image: url('../images/sixth-logo.svg');
} */
/* ======================footer section starts====================== */

/* .footer-section-links.insta {
    background-image: url('../images/instagram-footer.svg');
}
.footer-section-links.twitter {
    background-image: url('../images/twitter-footer.svg');
}
.footer-section-links.facebook {
    background-image: url('../images/facebook-footer.svg');
}
.footer-section-links.linkedin {
    background-image: url('../images/linkedin-footer.svg');
} */

/* ======================footer section ends====================== */

/* ========================= portfolio starts ========================= */

.portfolio-section {
    padding-top: 94px;
}

.main-portfolio-section {
    background-color: var(--white-color);

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.button-filter-list.list {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-filter {
    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    background-color: var(--secondary-bcg-color);

    transition: background-color 250ms var(--cubic), color 250ms var(--cubic),
        box-shadow 250ms var(--cubic);
}
.button-filter-list li:not(:last-child) {
    margin-right: 8px;
}
.btn-filter:hover,
.btn-filter:focus {
    color: var(--white-color);
    background-color: var(--active-color);
    border-style: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-filter:focus {
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*=================== filter-list-section=================== */

.filter-list-section-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
}
.filter-list-section-ul.list > .list-element {
    /* width: calc((100% - 60px) / 3);
    margin-right: 30px; */

    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);

    transition: box-shadow 250ms var(--cubic);
}
.list-element:focus,
.list-element:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .list-element:nth-child(3n) {
    margin-right: 0;
}

.list-element:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
} */

/* .list-element:nth-child(3n + 3) {
    margin-right: 0;
}
.list-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
 .list-element:not(:nth-child(3n + 3)) {
    margin-right: 30px;
}
  */

.filter-list-section-ul h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}
.filter-list-section-ul p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
}

.filter-list-description {
    padding: 20px 24px;
    border-bottom: 1px solid var(--primary-bcg-color);
    border-left: 1px solid var(--primary-bcg-color);
    border-right: 1px solid var(--primary-bcg-color);
}

.list-element-thumb {
    position: relative;
    overflow: hidden;
}

.thumb-list-description {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
}

.list-element:hover .thumb-list-description {
    transform: translateY(0);
}

.thumb-list-description > p {
    color: var(--white-color);
    opacity: 0;
    transition: opacity 500ms var(--cubic);
}

.list-element:hover .thumb-list-description > p {
    opacity: 1;
}
/* .filter-list-img {
    z-index: 10;
} */

/* ========================= portfolio ends ========================= */

/* ============================= backdrop ============================== */
