.footer-logo {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: $white-color;
    margin-bottom: 20px;
}
.footer-logo span {
    color: $active-color;
}
